@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100vh;
    background-image: url(/img/paisagem.png);
    display: flex;
    align-items: center;
    justify-content: center;
}
.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    width:650px;
    background-color:#7072ffbe;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(44, 43, 43, 0.5);
}
.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #2b1076;
    box-shadow: rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}
.relogio span{
    font-weight: bolder;
    font-size: 50px; 
}
#tempo{
    font-size: 12px;
}